@using TechDess.Common
@{ this.ViewData["Title"] = "Privacy policy"; }

<h3>@this.ViewData["Title"]</h3>
<p class="text-justify">This policy applies to the information that may be collected on the Website @GlobalConstants.SystemName.</p>
<p class="text-justify"><b>By registering at @GlobalConstants.SystemName or completing our contact form, you agree to accept the practices described in this Privacy Policy and to provide us with true and correct information as far as it concerns you.</b></p>
<p class="text-justify">
    @GlobalConstants.SystemName knows that you are concerned about how information about you is used and shared, and we appreciate your confidence that we will do so carefully and wisely.
    @GlobalConstants.SystemName is committed to honoring and respecting your wishes regarding the information we collect about you on our website.
</p>

<h4>Personal information</h4>
<p class="text-justify">The information we learn from you helps us personalize and continually improve the way you use @GlobalConstants.SystemName.</p>
<p class="text-justify">The history of your transactions and the information you provide to us online at @GlobalConstants.SystemName, by telephone or e-mail is securely stored in our customer database and may only be provided to our affiliates or certain third parties we have verified. carefully in terms of their reliability and integrity.</p>
<p class="text-justify">@GlobalConstants.SystemName, as well as other third parties serving your order, may provide you with information related to the registration and payment of your order, including advertising, information and other messages, to the email address and / or telephone number.</p>
<p class="text-justify">@GlobalConstants.SystemName has the authority to process your personal data (including, but not limited to, name, surname, email address) and send it to the above third parties to fulfill its obligations under your order.</p>
<p class="text-justify">Some of the information we receive from you is voluntarily submitted, although much of it is needed to properly process your requests. Failure to provide such information may result in the cancellation of your order. In addition to fulfilling your orders, we use the information you provide to us for such purposes as answering your inquiries, customizing your future use of the system and communicating with you.</p>
<p class="text-justify">Any personal information you disclose to us is protected. @GlobalConstants.SystemName maintains standards and procedures to protect against unauthorized access to customer information to prevent unauthorized removal or alteration of data. @GlobalConstants.SystemName meets accepted security standards for all transactions, which may include payment of fees through a service available on this site, including the use of encryption and SSL services. It is important for you to protect yourself from unauthorized access to your password and your computer. Always check to see if you've &bdquo; unsubscribed &rdquo; after you finish using a shared computer.</p>
<p class="text-justify">You may access the Site at any time and correct any information that applies to you and is stored by @GlobalConstants.SystemName. You may at any time submit a request to @GlobalConstants.SystemName to disclose what personal information we hold about you and to change this information upon request.</p>

<h4>Email policy</h4>
<p class="text-justify">Except for the exceptions noted in this policy, @GlobalConstants.SystemName will never sell, share or otherwise distribute your email address that you have sent us or that is otherwise obtained through your use of the site. . Any email address sent directly to @GlobalConstants.SystemName will remain the sole property of @GlobalConstants.SystemName and its affiliates.</p>
<p class="text-justify"><b>If you do not wish to receive promotional emails from @GlobalConstants.SystemName in the future, </b> please let us know via the contact form.</p>
<p class="text-justify">If you provide us with your mailing address, you may receive periodic emails from us with information about new products and services, or about expected events. <b> If you do not wish to receive such emails, please contact us via our contact form.</b></p>

<h4>Cookies</h4>
<p class="text-justify">Like most retail websites, we use &quot; cookies &quot; (&quot; cookies &quot;), which are pieces of data sent to your browser that allow our website to identify you when you access it. While there is some concern about possible complications with personal information through &quot; cookies &quot ;, it is important for you to understand that &quot; cookies &quot; they cannot extract any information about you that you have not already disclosed voluntarily. If you wish, &quot; help &quot; The toolbar of most browsers will give you information on how to prevent the acceptance of new &bdquo; cookies &rdquo; from your browser, how the browser notifies you when you receive new &quot; cookies &quot ;, or how to completely disable &quot; cookies &quot ;.</p>
<p class="text-justify">If you have any questions about any of the elements of our web privacy policy, please email us via the contact form.</p>
