@model TechDess.Web.ViewModels.Products.ProductListViewModel

<div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Order By</button>
    @foreach (var product in this.Model.Products)
    {
        <div id="myDropdown" class="dropdown-content">
            <a asp-controller="Products" asp-action="Increasing" asp-route-id="@product.ProductTypeId">lowest to highest</a>
            <a asp-controller="Products" asp-action="Decreasing" asp-route-id="@product.ProductTypeId">highest to lowest</a>
        </div>
    }
</div>

@if (!Model.Products.Any())
{
    <h1>Nothing found.</h1>
}
else
{
    <div class="row">
        @foreach (var product in this.Model.Products)
        {
            <div class="card col-md-3">
                <img class="card-img-top" src="@product.Image" alt="">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price:@product.Price</p>
                    <a asp-controller="Products" asp-action="ById" asp-route-id="@product.Id" class="btn btn-outline-primary">Specifications</a>
                </div>
            </div>
        }
    </div>
    <hr />
    <partial name="_PagingPartial" model="@Model" />
}
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>